# Firebase Configuration
FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY_HERE
FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID_HERE
FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID_HERE
FIREBASE_AUTH_DOMAIN=YOUR_FIREBASE_AUTH_DOMAIN_HERE
FIREBASE_STORAGE_BUCKET=YOUR_FIREBASE_STORAGE_BUCKET_HERE

# Google APIs
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE

# OpenAI
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE

# Mistral AI
MISTRAL_API_KEY=YOUR_MISTRAL_API_KEY_HERE

# RapidAPI
RAPIDAPI_KEY=YOUR_RAPIDAPI_KEY_HERE
RAPIDAPI_HOST=travel-co2-climate-carbon-emissions.p.rapidapi.com

# OpenWeather API
OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY_HERE

# Carbon Sutra API
CARBON_API_KEY=YOUR_CARBON_API_KEY_HERE
CARBON_BEARER_TOKEN=YOUR_BEARER_TOKEN_HERE
